{% load i18n thumbnail %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}themes/pes_auvergne/default/js/leaflet/leaflet.css" />
{% endblock %}

<div id="agenda_top"></div>
<div id="coop_agenda" class="coop_agenda">
    <div class="bloc_title">
        <div class="logo logo_pes"></div>
        <div class="header">
            <a href="{{ base_url }}{{ e.pk }}"><h3 class="coop_agenda_title">{{ e.title }}</h3></a>
            {% if e.occurrence_set.count %}
            <ul class="coop_agenda_date">
                {% for o in e.occurrence_set.all %}
                <li>
                        {{ o.start_time|date:"j"|lower }} {{ o.start_time|date:"M" }} {{ o.start_time|date:"Y"|lower }}, {{ o.start_time|date:"H" }}:{{ o.start_time|date:"i" }}
                        &ndash; 
                        {{ o.end_time|date:"j"|lower }} {{ o.end_time|date:"M" }} {{ o.end_time|date:"Y"|lower }}, {{ o.end_time|date:"H" }}:{{ o.end_time|date:"i" }}
                </li>
                {% endfor %}
            </ul>
            {% else %}
            {% endif %}
            <span class='label'>{% trans "Place" %}:</span> {% if e.location == None %} {% else %}{{ e.location }} {% endif %}
            <br/>
            <span class='label'>{% trans "Organization" %}:</span> {% if e.organization == None %} {% else %}<a href="/annuaire/p/{{ e.organization.pk }}" class="agenda_link">{{ e.organization }}</a> {% endif %}
            <br/>
        </div>
        <div class="map">
            <div id="leaflet_map"></div>
                <script src="{{ STATIC_URL }}themes/pes_auvergne/default/js/leaflet/leaflet.js"></script>
                <script type="text/javascript">

                    var cloudmadeUrl = 'http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/997/256/{z}/{x}/{y}.png',
                        cloudmadeAttribution = '&copy; 2011 OSM - CloudMade',
                        cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 18, attribution: cloudmadeAttribution});

                    var map = new L.Map('leaflet_map');

                     {% if e.location.point %}
                         var centre = new L.LatLng({{ e.location.point.y|safe }}, {{ e.location.point.x|safe }});
                         L.marker([{{ e.location.point.y|safe }}, {{ e.location.point.x|safe }}]).addTo(map)
                                 .bindPopup('{{ e.location.label|safe }}')
                                 .openPopup();
                         
                         
                         map.setView(centre, 8).addLayer(cloudmade);
                     {% endif %}

                </script>
            <div id="links">
                <a class="facebook" href=""></a>
                <a class="twitter" href=""></a>
                <a class="google_plus" href=""></a>
                <a class="plus" href=""></a>
                <a class="links" href=""></a>
                <a class="print" href=""></a>
            </div>

        </div>            


        </div>



    <div class="bloc_content">
        <div class="event_image"><img src="{{ media_path }}{{ e.image }}" alt=""></div>
        <div class="event_content">
            
            <h3><a class="agenda_link" href="{{ base_url }}event_reply/{{ e.pk }}">{% trans "Register for the event" %}</a></h3>

            <h3 class="coop_agenda_subtitle">{% trans "Event's description" %}</h3>
            <div class="description">
                {{ e.description }}
                <span class="readmore"><a class="agenda_link" href="">{% trans "Read more" %}</a></span>
            </div>
        </div>
    </div>



    {% if imgs %}
        <div class="bloc_content bloc_content_border">
            <h3>{% trans "Galery" %}</h3>
            
            {% for d in imgs %}
                <div class="fake_img">
                    <img src="{{ media_path }}{{ d.attachment }}" alt='{{ d.name }}' />
                </div>
            {% endfor %}
        </div>
    {% endif %}

    

    <div class="bloc_content bloc_content_borderless">
        <div class="coop_agenda_content_activity content_border_grey">
            <h3>{% trans "Activity" %}</h3>
            {{ e.activity }}
        </div>
            
        <div class="coop_agenda_content_thematic content_border_grey">
            <h3>{% trans "Thematic" %}</h3>
            {% for t in e.transverse_themes.all %}
                {{ t }} <br/>
            {% endfor %}
        </div>

        <div class="coop_agenda_content_keywords content_border_grey">
            <h3 class="coop_agenda_link">{% trans "Keywords" %}</h3>
        </div>

        <div class="coop_agenda_content_keywords content_border_grey">
            <h3 class="coop_agenda_link">{% trans "Type event" %}</h3>
            {% for cat in e.category.all %} {{ cat }} {% endfor %}
        </div>

    </div>


    <div class="bloc_content bloc_content_borderless">
        <div class="bloc_content_col1">
            {% if e.exchanges.exists %}
                <h3><a href="javascript:show_infos('#exchanges');">{% trans "Exchanges" %}</a></h3>
            {% endif %}
            {% if e.linked_articles.exists %}
                <h3><a href="javascript:show_infos('#articles');">{% trans "Articles" %}</a></h3>
            {% endif %}
            {% if docs %}
                <h3><a href="javascript:show_infos('#documents');">{% trans "Documents" %}</a></h3>
            {% endif %}
            {% if e.organizations %}
                <h3><a href="javascript:show_infos('#partners');">{% trans "Partners" %}</a></h3>
            {% endif %}
        </div>
        <div class="bloc_content_col2">

            <div id="exchanges">
                <h3>{% trans "Exchanges associated" %}</h3>
            </div>

            <div id="articles">
                <h3>{% trans "Articles associated" %}</h3>
                    {% with e.linked_articles.0 as article %}
                    {% thumbnail article.logo "120x120" as im %}
                    <a class="title" href="{{ article.get_absolute_url }}">
                        <img class="event-article-icon" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    </a>
                    {% endthumbnail %}

                    {% endwith %}
            </div>

            <div id="documents">
                <h3>{% trans "Documents associated" %}</h3>
                    <ul>
                    {% for d in docs %}
                        <li><a href="{{ media_path }}{{ d.attachment }}" alt='{{ d.name }}'>{{ d.name }}</a></li>
                    {% endfor %}
                    </ul>            
            </div>

            <div id="partners">
                <h3>{% trans "Partners" %}</h3>
                {% for p in e.organizations.all %}
                        {{ p.label }}<br/>
                {% endfor %}
            </div>

        </div>
        
    </div>


    {% if request.user.is_superuser %}
        <span class="edit edit_inline"><a class="" href="{{ base_url }}event_edit/{{ e.pk }}">{% trans "Edit" %}</a></span>
    {% endif %}


</div>

<script type="text/javascript">
    $(document).ready(function() {

        hide_complement();
    });

    function hide_complement() {
        $('#dialog-docs').addClass("detail_form_hide");
        $('#exchanges').addClass("detail_form_hide");
        $('#articles').addClass("detail_form_hide");
        $('#documents').addClass("detail_form_hide");
        $('#partners').addClass("detail_form_hide");
    }

   function show_infos(id_div) {
        hide_complement();
        $(id_div).removeClass("detail_form_hide");
   }


</script>

