{% load i18n thumbnail %}
{% load rights_event %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}themes/pes_auvergne/default/js/leaflet/leaflet.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}admintools_bootstrap/css/custom-theme/jquery-ui-1.8.16.custom.css" />

{% if print_css == 1 %}
    <link rel="stylesheet" href="{{ STATIC_URL }}themes/pes_auvergne/default/css/print.css" />
{% endif %}

    <script type="text/javascript" src="{{ STATIC_URL }}themes/pes_auvergne/default/js/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}themes/pes_auvergne/default/js/forms_utils.js"></script>

{% endblock %}

<div id="agenda_top"></div>
<div id="coop_agenda" class="coop_agenda">
    <div class="bloc_title">
        {% if e.organization.logo != '' %}
            <div class="logo"><img src="{{ media_path }}{{ e.organization.logo }}" alt="{{ e.organization.title }}"></div>
        {% else %}
            <div class="logo logo_pes"></div>
        {% endif %}

        <div class="header">
            <h3 class="coop_agenda_title">{{ e.title }}</h3>
            <br/>
            {% if e.occurrence_set.count %}
            <ul class="coop_agenda_date">
                {% for o in e.occurrence_set.all %}
                <li>
                        {{ o.start_time|date:"j"|lower }} {{ o.start_time|date:"M" }} {{ o.start_time|date:"Y"|lower }}, {{ o.start_time|date:"H" }}:{{ o.start_time|date:"i" }}
                        &ndash; 
                        {{ o.end_time|date:"j"|lower }} {{ o.end_time|date:"M" }} {{ o.end_time|date:"Y"|lower }}, {{ o.end_time|date:"H" }}:{{ o.end_time|date:"i" }}
                </li>
                {% endfor %}
            </ul>
            {% else %}
            {% endif %}
            <br/>
            <span class='label'>{% trans "Place" %}:</span> {% if e.location == None %} {% else %}{{ e.location }} {% endif %}
            <br/><br/>
            <span class='label'>{% trans "Organizator" %}:</span> {% if e.organization == None %} {% else %}<a href="/annuaire/p/{{ e.organization.pk }}" class="agenda_link">{{ e.organization }}</a> {% endif %}
            <br/>
        </div>
        <div class="map">
            <div id="leaflet_map"></div>
                <script src="{{ STATIC_URL }}themes/pes_auvergne/default/js/leaflet/leaflet.js"></script>
                <script type="text/javascript">

                    var cloudmadeUrl = 'http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/997/256/{z}/{x}/{y}.png',
                        cloudmadeAttribution = '&copy; 2011 OSM - CloudMade',
                        cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 18, attribution: cloudmadeAttribution});

                    var map = new L.Map('leaflet_map');

                     {% if e.location.point %}
                         var centre = new L.LatLng({{ e.location.point.y|safe }}, {{ e.location.point.x|safe }});
                         L.marker([{{ e.location.point.y|safe }}, {{ e.location.point.x|safe }}]).addTo(map)
                                 .bindPopup('{{ e.location.label|safe }}')
                                 .openPopup();
                         
                         
                         map.setView(centre, 8).addLayer(cloudmade);
                     {% endif %}

                </script>
            </div>           
        </div>

    <div class="bloc_content">
        <div class="event_image">
            <img src="{{ media_path }}{{ e.image }}" alt="">
            <a class="agenda_link" href="javascript:open_popup('#dialog-source');">{% trans "Source" %}</a>
            <div id="dialog-source" title="{% trans "Source" %}">
                {% if e.source_info %}
                    {{ e.source_info }}
                {% endif %}
            </div>

        </div>
        <div class="event_content">
            
            <h3><a class="agenda_link" href="{{ base_url }}event_reply/{{ e.pk }}">{% trans "Register for the event" %}</a></h3>
            <div id="links">
                <a class="facebook" target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=#{{ request.build_absolute_uri }}"></a>
                <a class="twitter" href="https://twitter.com/share?url={{ request.build_absolute_uri }}" target="_blank"></a>
                <a class="google_plus"  target="_blank" href="https://plus.google.com/share?url={{ request.build_absolute_uri }}"></a>
                <a class="links" href="javascript:open_popup_link('#dialog-link');"></a>
                <div id="dialog-link" title="{% trans 'Send to friend' %}">
                    <input type="text" id="mail_to_friend" value="">
                    <input type="button" onclick="javascript:send_to_friend('{{ request.build_absolute_uri }}','mail_to_friend','send_to_content');" value="{% trans 'Send' %}">
                    <div id="send_to_content" class="highlight_gen"></div>
                </div>
                <a class="print" target="_blank" href="{{ base_url }}{{ e.pk }}?mode=print"></a>

            </div>

            <br/>

            <!--<h3 class="coop_agenda_title">{% trans "Event's description" %}</h3>
            <div class="description">
                {{ e.description }}
                <span class="readmore"><a class="agenda_link" href="">{% trans "Read more" %}</a></span>
            </div>-->


            {% if e.description %}
                <div class="bloc_content bloc_content_border bloc_content_borderless">
                    <h3 class="coop_agenda_title">{% trans "Event's description" %}</h3>
                    <div class="description" id="animate_desc" >
                        <div id="description_short">{{ e.description|safe|truncatewords_html:50 }}</div>
                        <div id="description_full">{{ e.description|safe }}</div>
                    </div>
                    <span class="readmore"><a class="agenda_link" href="javascript:read_more();" id="read_more">{% trans "Read more" %}</a></span>
                </div>    
            {% endif %}



            <a href="http://www.covoiturageauvergne.net/" class="agenda_link"><div class="site_cov_text" >{% trans "Use car pool" %}</div><div class="site_cov"></div></a>
        </div>
    </div>


    {% if imgs %}
        <div class="bloc_content bloc_content_border">
            <h3>{% trans "Galery" %}</h3>

                <div class="list_carousel">
                    <ul id="carousel">
                        {% for d in imgs %}
                            <li>
                                <a href="{{ media_path }}{{ d.attachment }}"><img src="{{ media_path }}{{ d.attachment }}" alt='{{ d.name }}' height="100px" /></a>
                            </li>
                        {% endfor %}

                    </ul>
                    <div class="clearfix"></div>
                    <a id="prev2" class="prev" href="#"></a>
                    <a id="next2" class="next" href="#"></a>
                    <div id="pager2" class="pager"></div>
                </div>

        </div>
    {% endif %}

    

    <div class="bloc_content bloc_content_borderless">
        <div class="coop_agenda_content_activity content_border_grey">
            <h3>{% trans "Activity" %}</h3>
            {{ e.activity }}
        </div>
            
        <div class="coop_agenda_content_thematic content_border_grey">
            <h3>{% trans "Thematic" %}</h3>
            {% for t in e.transverse_themes.all %}
                {{ t }} <br/>
            {% endfor %}
        </div>

        {% if e.tags.all %}
            <div class="coop_agenda_content_keywords content_border_grey">
                <h3 class="coop_agenda_link">{% trans "Keywords" %}<a href="javascript:keywords_show_complement()" class="coop_agenda_link">+</a></h3>
                <div id="keywords_short">{{ e.tags.all|join:", "|truncatechars:100 }}</div>
                <div id="keywords_long">{{ e.tags.all|join:", " }}</div>
            </div>
        {% endif %}

        <div class="coop_agenda_content_keywords content_border_grey">
            <h3 class="coop_agenda_link">{% trans "Type event" %}</h3>
            {% for cat in e.category.all %} {{ cat }} {% endfor %}
        </div>

    </div>


    <div class="bloc_content bloc_content_borderless">
        <div class="bloc_content_col1">
            {% if e.exchanges.exists %}
                <h3 id="menu_exchanges"><a href="javascript:show_infos('exchanges');">{% trans "Exchanges" %}<div class="menu_selected_arrow"></div></a></h3>
            {% endif %}
            {% if e.linked_articles.exists %}
                <h3 id="menu_articles"><a href="javascript:show_infos('articles');">{% trans "Articles" %}<div class="menu_selected_arrow"></div></a></h3>
            {% endif %}
            {% if docs %}
                <h3 id="menu_documents"><a href="javascript:show_infos('documents');">{% trans "Documents" %}<div class="menu_selected_arrow"></div></a></h3>
            {% endif %}
            {% if e.organizations %}
                <h3 id="menu_partners"><a href="javascript:show_infos('partners');">{% trans "Partners" %}<div class="menu_selected_arrow"></div></a></h3>
            {% endif %}
        </div>
        <div class="bloc_content_col2">

            <div id="exchanges">
                <h3>{% trans "Exchanges associated" %}</h3>
            </div>

            <div id="articles">
                <h3>{% trans "Articles associated" %}</h3>
                    {% with e.linked_articles.0 as article %}
                    {% thumbnail article.logo "120x120" as im %}
                    <a class="title" href="{{ article.get_absolute_url }}">
                        <img class="event-article-icon" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    </a>
                    {% endthumbnail %}

                    {% endwith %}
            </div>

            <div id="documents">
                <h3>{% trans "Documents associated" %}</h3>
                    <ul>
                    {% for d in docs %}
                        <li><a href="{{ media_path }}{{ d.attachment }}" alt='{{ d.name }}'>{{ d.name }}</a></li>
                    {% endfor %}
                    </ul>            
            </div>

            <div id="partners">
                <h3>{% trans "Partners" %}</h3>
                {% for p in e.organizations.all %}
                        {{ p.label }}<br/>
                {% endfor %}
                {% if e.other_organizations %}
                    <h3>{% trans "Other partners" %}</h3>
                    {{ e.other_organizations }}
                {% endif %}
            </div>

        </div>
        
    </div>


    {% if request.user.is_superuser or e|tag_rights_event:request %}
        <span class="edit edit_inline"><a class="" href="{{ base_url }}event_edit/{{ e.pk }}">{% trans "Edit" %}</a></span>
    {% endif %}


</div>

<script type="text/javascript">
    $(document).ready(function() {

        {% if print_css != 1 %}
            $('#description_full').addClass("detail_form_hide");
            hide_complement();
            keywords_hide_complement();
        {% else %}
            $('#description_short').addClass("detail_form_hide");
        {% endif %}

        hide_complement();
        show_infos('partners');

        $('#carousel').carouFredSel({
            items: 2,
            auto: false,
            prev: '#prev2',
            next: '#next2',
            pagination: "#pager2",
            mousewheel: true,
            swipe: {
                onMouse: true,
                onTouch: true
            }
        });
        $('#carousel a').fancybox({ 'hideOnContentClick': false,'zoomSpeedIn': 300, 'zoomSpeedOut': 300, 'overlayShow': true });

        // Check if we have to hide read more or not
        if($('#description_short') && $('#description_full')) {
            if($.trim($('#description_short').text()) == $.trim($('#description_full').text())) {
                $('#read_more').addClass("detail_form_hide");  
            }
        }

    });

    function hide_complement() {
        $('#dialog-docs').addClass("detail_form_hide");
        $('#dialog-source').addClass("detail_form_hide");
        $('#exchanges').addClass("detail_form_hide");
        $('#articles').addClass("detail_form_hide");
        $('#documents').addClass("detail_form_hide");
        $('#partners').addClass("detail_form_hide");
        $('#dialog-link').addClass("detail_form_hide");
    }

   function show_infos(id_div) {
        hide_complement();
        $("#" + id_div).removeClass("detail_form_hide");
        $("#menu_" + id_div).addClass("menu_selected");
   }

    function read_more() {
        $('#description_full').removeClass("detail_form_hide");
        $('#description_short').addClass("detail_form_hide");
        $('#read_more').addClass("detail_form_hide");        
   }

   function open_popup(id) {
        $(function() {
            $( id ).dialog({
                height: 200,
                modal: true
            });
        });
    }

    function keywords_hide_complement() {
        $('#keywords_long').addClass("detail_form_hide");
        $('#dialog-link').addClass("detail_form_hide");
    }

    function keywords_show_complement() {
        $('#keywords_long').removeClass("detail_form_hide");
        $('#keywords_short').addClass("detail_form_hide");
    }

</script>

