{% load i18n thumbnail %}

{% block extra_head %}
    <link rel="stylesheet" href="http://leaflet.cloudmade.com/dist/leaflet.css" />    
{% endblock %}

{% if search_form %}

<script type="text/javascript">
    // We need to set a new class to content element, in order do properly display the form and the other elements
    $('#main-content').addClass("search_form_enabled");
</script>

<div id="agenda_top_search"></div>
<div id="search_form">
    <form action="{{ base_url }}" method="post">{% csrf_token %}
        <div class="search_column" id="search_column1">
            <div class="search_block" id="activity">
                <span class="search_title">{% trans "Activity" %}</span>
                {{ form.activity }}
            </div>
            <div class="search_block" id="organization">
                <span class="search_title">{% trans "Organization" %}</span>
                {{ form.organization }}
            </div>
            <div class="search_block" id="free_search">
                <span class="search_title">{% trans "Free search" %}</span>
                {{ form.free_search }}
            </div>
        </div>
        <div class="search_column" id="search_column2">
            <div class="search_block" id="type">
                <span class="search_title">{% trans "Type" %}</span>
                {{ form.type }}
            </div>
            <div class="search_block" id="thematic">
                <span class="search_title">{% trans "Start date" %}</span>
                {{ form.start_date }}
            </div>
            <div class="search_block" id="thematic">
                <span class="search_title">{% trans "End date" %}</span>
                {{ form.end_date }}
            </div>
        </div>
        <div class="search_column" id="search_column3">
            <div class="search_block" id="location">
                <span class="search_title">{% trans "Location" %}</span>
                {{ form.location }}
            </div>
            <div class="search_block" id="location">
                <span class="search_title">{% trans "Location buffer" %}</span>
                {{ form.location_buffer }}
            </div>
        </div>

        <div class="search_column" id="search_column4">
            <div id="leaflet_map"></div>
                <script src="http://leaflet.cloudmade.com/dist/leaflet.js"></script>
                <script type="text/javascript">

                    var cloudmadeUrl = 'http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/997/256/{z}/{x}/{y}.png',
                        cloudmadeAttribution = 'Map data &copy; 2011 OpenStreetMap contributors, Imagery &copy; 2011 CloudMade',
                        cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 18, attribution: cloudmadeAttribution});

                    var map = new L.Map('leaflet_map');
                    var x,y;
                    if($('input[name=location]').val() != "") {
                        coords = $('input[name=location]').val().split(",");
                        x = coords[0];
                        y = coords[1];
                    }
                    else {
                        x = {{ center.x }};
                        y = {{ center.y }};
                    }
                    var centre = new L.LatLng(y, x);
                    var marker = L.marker([centre.lat, centre.lng], {draggable: true}).addTo(map);
                    marker.on('dragend', function (e) {
                                var coords = e.target.getLatLng(); 
                                $('input[name=location]').val(coords.lng + "," + coords.lat);
                            }
                        );

                    map.setView(centre, 8).addLayer(cloudmade);

                </script>
        </div>

        <div id="search_bottom">
            <div class="search_block" id="search_submit">
                <input type="submit" value="{% trans "Search" %}" />
                <div id="results_block"><span class="nb_results">{{ occs_count }}</span> <span class="label_results">{% trans "Results" %}</span></div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(function() {
        $.datepicker.regional['fr'] = {
            closeText: 'Fermer',
            prevText: '&#x3c;Préc',
            nextText: 'Suiv&#x3e;',
            currentText: 'Courant',
            monthNames: ['Janvier','Février','Mars','Avril','Mai','Juin',
            'Juillet','Août','Septembre','Octobre','Novembre','Décembre'],
            monthNamesShort: ['Jan','Fév','Mar','Avr','Mai','Jun',
            'Jul','Aoû','Sep','Oct','Nov','Déc'],
            dayNames: ['Dimanche','Lundi','Mardi','Mercredi','Jeudi','Vendredi','Samedi'],
            dayNamesShort: ['Dim','Lun','Mar','Mer','Jeu','Ven','Sam'],
            dayNamesMin: ['Di','Lu','Ma','Me','Je','Ve','Sa'],
            weekHeader: 'Sm',
            dateFormat: 'dd/mm/yy',
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ''};
        $.datepicker.setDefaults($.datepicker.regional['fr']);

        $('#id_start_date').datepicker({dateFormat: 'yy-mm-dd', constrainInput: false});
        $('#id_end_date').datepicker({dateFormat: 'yy-mm-dd', constrainInput: false});
        });
</script>

{% endif %}

<div id="agenda_top"></div>
<div id="coop_agenda">
{% for event_category, occs in events_by_categories.items %}
    <h3 class="coop_agenda">{% trans "Agenda" %} {{ event_category }}</h3>
        {% for o in occs %}            
            <div class="coop_agenda">
                <div class="bloc_title">
                    <div class="logo"></div>
                    <div class="resume">
                        {% if o.event.location == None %} {% else %} <span class="location">{{ o.event.location|truncatechars:20 }}</span> {% endif %}
                        <ul class="date">
                            <li>
                                <span class="date_from">{{ o.start_time|date:"j" }} {{ o.start_time|date:"M"|lower }} {{ o.start_time|date:"Y"|lower }}</span>
                                {% if  o.start_time.date != o.end_time.date %}
                                    <span class="date_to">{% trans "to" %}</span>
                                <span class="date_from">{{ o.end_time|date:"j" }} {{ o.end_time|date:"M"|lower }} {{ o.end_time|date:"Y"|lower }}</span>
                                {% endif %}
                            </li>
                        </ul>

                        <a href="{{ base_url }}p/{{ o.event.pk }}"><h3 class="coop_agenda_title resume_title">{{ o.event.title }}</h3></a>


                        <div class="description">
                            {{ o.event.description|truncatewords_html:15|safe }}
                        </div>
                        <span class="readmore"><a class="agenda_link" href="{{ base_url }}p/{{ o.event.pk }}">{% trans "Read more" %}</a></span>
                    </div>
                </div>


            </div>
        {% endfor %}
{% endfor %}
</div>

