{% load i18n %}
{% load rights %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}themes/pes_auvergne/default/js/leaflet/leaflet.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}admintools_bootstrap/css/custom-theme/jquery-ui-1.8.16.custom.css" />

    
    <link rel="stylesheet" href="{{ STATIC_URL }}themes/pes_auvergne/default/js/easyslider1.7/css/screen.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}themes/pes_auvergne/default/js/easyslider1.7/js/easySlider1.7.js"></script>

{% endblock %}




<div id="members_top"></div>
<div id="members">

    <div class="bloc_title">
        {% if member.logo != '' %}
            <div class="logo"><img src="{{ media_path }}{{ member.logo }}" alt="{{ member.title }}"></div>
        {% else %}
            <div class="logo logo_pes"></div>
        {% endif %}

        <div class="header">
            <h3 class="member_title">{{ member.title }}</h3>
            <span class="member_acronym">{{ member.acronym }}</span><br/>
            <p>{{ member.short_description }}</p>
            <p>
            {% if member.legal_status %}
                {{ member.legal_status|default:"" }}</br>
            {% endif %}
            {% if member.birth %} {% trans "Creation" %} : {{ member.birth }}{% endif %}</p>

            <p>{{ member.category.all|join:", "  }}</p>

            <a href="mailto:{{ member.pref_email.content }}" class="member_link">{% trans "Mailto member" %}</a>

        </div>
        <div class="map">
            <div id="leaflet_map"></div>
                <script src="{{ STATIC_URL }}themes/pes_auvergne/default/js/leaflet/leaflet.js"></script>
                <script type="text/javascript">

                    var cloudmadeUrl = 'http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/997/256/{z}/{x}/{y}.png',
                        cloudmadeAttribution = '&copy; 2011 OSM - CloudMade',
                        cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 18, attribution: cloudmadeAttribution});

                    var map = new L.Map('leaflet_map');
                    
                    var any_main_location = false;

                    {% for l in member.located.all %}
                        {% if l.location.point %}
                            {% if l.main_location %}
                                var centre = new L.LatLng({{ l.location.point.y|safe }}, {{ l.location.point.x|safe }});
                                L.marker([{{ l.location.point.y|safe }}, {{ l.location.point.x|safe }}]).addTo(map)
                                        .bindPopup('{{ l.location.label|safe }}')
                                        .openPopup();
                                any_main_location = true;
                            {% else %}
                                L.marker([{{ l.location.point.y|safe }}, {{ l.location.point.x|safe }}]).addTo(map)
                                        .bindPopup('{{ l.location.label|safe }}');
                            {% endif %}
                                                            
                            
                        {% endif %}
                    {% endfor %}

                    if(any_main_location == false) {
                        {% for l in member.located.all %}
                            {% if l.location.point %}
                                var centre = new L.LatLng({{ l.location.point.y|safe }}, {{ l.location.point.x|safe }});
                            {% endif %}
                        {% endfor %}
                    }

                    if(centre)
                        map.setView(centre, 8).addLayer(cloudmade);
                </script>
            </div>            
        </div>


    <div class="bloc_content">
        <div class="member_content_infos">
            <div class="column1">
                {% if member.pref_address.adr1 %}{{ member.pref_address.adr1|safe }}<br/>{% endif %}
                {% if member.pref_address.adr2 %}{{ member.pref_address.adr2|safe }}<br/>{% endif %}
                {% if member.pref_address.zipcode %}{{ member.pref_address.zipcode|safe }}{% endif %}
                {% if member.pref_address.city %}{{ member.pref_address.city|safe }}{% endif %}<br/>
            </div>
            <div class="column2">
                {% if member.pref_phone %}{{ member.pref_phone.content }}{% endif %}<br/>
<!--                 {% if member.pref_email %}{{ member.pref_email.content }}{% endif %} -->
                <div class="member_link">
                    <a class="member_link" href="http://{{ member.web|safe }}" />{% trans "Website" %}</a>
                </div>
            </div>
            <div class="column3">
                <div id="links">
                    <a class="facebook" href=""></a>
                    <a class="twitter" href=""></a>
                    <a class="google_plus" href=""></a>
                    <a class="plus" href=""></a>
                    <a class="links" href=""></a>
                    <a class="print" href=""></a>
                </div>
                
                {% if docs %}
                    <a href="javascript:download_docs()" class="member_link">{% trans "Downloadable docs" %}</a>
                {% endif %}

                <div id="dialog-docs" title="{% trans "Documents" %}">
                    <ul>
                    {% for d in docs %}
                        <li><a href="{{ media_path }}{{ d.attachment }}" alt='{{ d.name }}'>{{ d.name }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>

        </div>
    </div>

    {% if member.offer_activities or openings or member.offer_zone %}
    <div class="bloc_content">
        {% if member.offer_activities %}
            {% if member.is_offer_labels %}
                <h3>{% trans "Products, services and activities list" %}</h3>
                <ul>
                {% for o in member.offer_set.all %}
                    <li><a href="javascript:view_offer_details({{ o.pk }})">{{ o.title }}</a>
                        <div id="dialog-offer-{{ o.pk }}" class="dialog-offer" title="{{ o.title }}">{{ o.get_desc|safe }}</div>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endif %}

        {% if openings %}
            <h3>{% trans "Hours" %}</h3>
            {% for l in member.located.all %}
                {{ l.location }} : {{ l.opening }}<br/>
            {% endfor %}
        {% endif %}
<!--        {% if member.offer_zone %}
            <h3>{% trans "Zone" %}</h3>
            {{ member.offer_zone }}
        {% endif %}-->
    </div>
    {% endif %}

    <div class="bloc_content bloc_content_border">
        {% if member.description %}
            <h3>{% trans "Presentation" %}</h3>
            <div class="member_desc" id="animate_desc" >
                <div id="member_description_short">{{ member.description|safe|striptags|truncatechars:1500 }}</div>
                    <div id="member_description_full">
                            {{ member.description|safe }}<br/>
                            {% if member.description2 %}
                                {{ member.description2|safe }}
                            {% endif %}
                    </div>
                    <span class="readmore"><a class="member_link" href="javascript:read_more();" id="read_more">{% trans "Read more" %}</a></span>
            </div>
        {% endif %}
    </div>

    {% if imgs %}
        <div class="bloc_content bloc_content_border">
            <h3>{% trans "Galery" %}</h3>
            
            <div id="slider">
                <ul>                
                    {% for d in imgs %}
                        <li>
                            <a href="{{ media_path }}{{ d.attachment }}"><img src="{{ media_path }}{{ d.attachment }}" alt='{{ d.name }}' /></a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    {% endif %}
    

    <div class="bloc_content bloc_content_borderless">
        {% if member.offer_activities %}
            {% if member.is_offer_labels %}
                <div class="member_content_activity">
                    <h3>{% trans "Activity" %}</h3>
                    {{ member.offer_activities }}
                </div>
            {% endif %}
        {% endif %}

        {% if member.transverse_themes.all %}
            <div class="member_content_thematic">
                <h3>{% trans "Thematic" %}</h3>
                {% for t in member.transverse_themes.all %}
                    {{ t }} <br/>
                {% endfor %}
            </div>
            {% endif %}

        {% if member.tags.all %}
            <div class="member_content_keywords">
                <h3 class="member_link">{% trans "Keywords" %}</h3>
                {{ member.tags.all|join:", " }}
            </div>
        {% endif %}
    </div>

    <div class="bloc_content bloc_content_borderless">
        <div class="bloc_content_col1">
            {% if member.relations.exists %}
                <h3 id="menu_relationship"><a href="javascript:show_infos('relationship');">{% trans "Relationship" %}</a></h3>
            {% endif %}
            {% if member.guaranties.exists %}
                <h3 id="menu_garanties"><a href="javascript:show_infos('garanties');">{% trans "Garanties" %}</a></h3>
            {% endif %}
            {% if member.projects.exists %}
                <h3 id="menu_projects"><a href="javascript:show_infos('projects');">{% trans "Projects" %}</a></h3>
            {% endif %}
            {% if member.reference_set.exists %}
                <h3 id="menu_references"><a href="javascript:show_infos('references');">{% trans "References" %}</a></h3>
            {% endif %}
            {% if member.solidarity.exists %}
                <h3 id="menu_solidarity"><a href="javascript:show_infos('solidarity');">{% trans "Solidarity capital" %}</a></h3>
            {% endif %}
        </div>
        <div class="bloc_content_col2">

            <div id="relationship">
                {% for r in relationship_queryset.all %}
                    <p>{{ r.source }} {{ r.relation_type }} <a href="{{ base_url }}p/{{ r.target.pk }}" class="member_link">{{ r.target.title }}</a></p>
                {% endfor %}

            </div>

            <div id="garanties">
                {% for g in member.guaranties.all %}
                    <p>{{ g }}</p>
                {% endfor %}
            </div>

            <div id="projects">
            
            </div>

            <div id="references">
                {% for r in member.reference_set.all %}
                    <p>
                        {{ r.customer }}<br/>
                        {{ r.from_year }} - {{ r.to_year }}<br/>
                        {{ r.services }}
                    </p>
                {% endfor %}
            </div>

            <div id="solidarity">
                Solidarité
            </div>
        </div>
        
    </div>


    {% if request.user.is_superuser or member|tag_rights:request %}
        <span class="edit edit_inline"><a class="" href="{{ base_url }}p/member_edit/{{ member.pk }}">{% trans "Edit" %}</a></span>
    {% endif %}

</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('#member_description_full').addClass("detail_form_hide");

        hide_complement();

        $("#slider").easySlider({
                auto: true,
                continuous: true,
                nextId: "slider1next",
                prevId: "slider1prev",
                numeric: true
            });

    });

    function hide_complement() {
        $('.dialog-offer').addClass("detail_form_hide");
        $('#dialog-docs').addClass("detail_form_hide");
        $('#garanties').addClass("detail_form_hide");
        $('#relationship').addClass("detail_form_hide");
        $('#projects').addClass("detail_form_hide");
        $('#references').addClass("detail_form_hide");
        $('#solidarity').addClass("detail_form_hide");

        $('#menu_garanties').removeClass("menu_selected");
        $('#menu_relationship').removeClass("menu_selected");
        $('#menu_projects').removeClass("menu_selected");
        $('#menu_references').removeClass("menu_selected");
        $('#menu_solidarity').removeClass("menu_selected");
    }

    function read_more() {
        $('#member_description_full').removeClass("detail_form_hide");
        $('#member_description_short').addClass("detail_form_hide");
        $('#read_more').addClass("detail_form_hide");        
   }
   function show_infos(id_div) {
        hide_complement();
        $("#" + id_div).removeClass("detail_form_hide");
        $("#menu_" + id_div).addClass("menu_selected");
   }

   function download_docs() {
    $(function() {
        $( "#dialog-docs" ).dialog({
            height: 140,
            modal: true
        });
    });
   }

   function view_offer_details(pk) {
    $(function() {
        $( "#dialog-offer-"+pk ).dialog({
            height: 200,
            modal: true
        });
    });
   }


</script>
