{% load i18n %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}themes/pes_auvergne/default/js/leaflet/leaflet.css" />
{% endblock %}

<div id="members_top"></div>
<div id="members">

    <div class="bloc_title">
        {% if member.logo != '' %}
            <div class="logo"><img src="{{ media_path }}{{ member.logo }}" alt="{{ member.title }}"></div>
        {% else %}
            <div class="logo logo_pes"></div>
        {% endif %}

        <div class="header">
            <h3 class="member_title">{{ member.title }}</h3>
            <span class="member_acronym">{{ member.acronym }}</span><br/>
            <p>{{ member.description|truncatewords_html:15|safe }}</p>
            <!-- TODO : replace with succinte description -->

            <p>{{ member.get_statut_display }} - {% trans "Creation" %}: {{ member.birth }}</p>
            <a href="mailto:{{ member.pref_email.content }}" class="member_link">{% trans "Mailto member" %}</a>

        </div>
        <div class="map">
            <div id="leaflet_map"></div>
                <script src="{{ STATIC_URL }}themes/pes_auvergne/default/js/leaflet/leaflet.js"></script>
                <script type="text/javascript">

                    var cloudmadeUrl = 'http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/997/256/{z}/{x}/{y}.png',
                        cloudmadeAttribution = 'Map data &copy; 2011 OpenStreetMap contributors, Imagery &copy; 2011 CloudMade',
                        cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 18, attribution: cloudmadeAttribution});

                    var map = new L.Map('leaflet_map');


                    {% for l in member.located.all %}
                        var centre = new L.LatLng({{ l.location.point.y|safe }}, {{ l.location.point.x|safe }});
                        L.marker([{{ l.location.point.y|safe }}, {{ l.location.point.x|safe }}]).addTo(map)
                                .bindPopup('{{ l.location.label|safe }}')
                                .openPopup();
                    {% endfor %}
                    
                    map.setView(centre, 8).addLayer(cloudmade);

                </script>
            <div id="links">
                <a class="facebook" href=""></a>
                <a class="twitter" href=""></a>
                <a class="google_plus" href=""></a>
                <a class="plus" href=""></a>
                <a class="links" href=""></a>
                <a class="print" href=""></a>
            </div>
            </div>            
        </div>


    <div class="bloc_content">
        <div class="member_content_infos">
            <div class="column1">
                <h3>{% trans "Products, services and activities list" %}</h3>
                <h3>{% trans "Zone" %}</h3>
                {% for f in member.framed.all %}
                    {{ f }}<br/>
                {% endfor %}

                <h3>{% trans "Hours" %}</h3>
            </div>
            <div class="column2">
                {% for l in member.located.all %}
                    {% if l.location.adr1 != '' %}
                        {{ l.location.adr1|safe }}<br/>
                    {% endif %}
                    {% if l.location.adr2 != '' %}
                        {{ l.location.adr2l|safe }}<br/>
                    {% endif %}
                    {% if l.location.zipcode != '' %}
                        {{ l.location.zipcode|safe }} 
                    {% endif %}
                    {{ l.location.city|safe }}<br/>
                {% endfor %}

                {% for c in member.contacts.all %}                
                    {{ c.content }}<br/>
                {% endfor %}

                <div class="member_link">
                    <a href="{{ member.web|safe }}" />{{ member.web|safe }}</a>
                </div>

                <a href="" class="member_link">{% trans "Downloadable docs" %}</a>

            </div>

        </div>
        <div class="member_complement">
                <h3>{% trans "Presentation" %}</h3>
                <div class="member_desc" id="animate_desc" >
                    <p id="member_description_short">{{ member.description|truncatechars:150|safe }}</p>
                    <p id="member_description_full">{{ member.description|safe }}</p>
                    <span class="readmore"><a class="member_link" href="javascript:read_more();" id="read_more">{% trans "Read more" %}</a></span>
                </div>
        </div>
    </div>
    
    <div class="bloc_content">
        <h3>{% trans "Galery" %}</h3>
        <div class="fake_img"></div>
        <div class="fake_img"></div>
        <div class="fake_img"></div>
    </div>
    

    <div class="bloc_content">
        <div class="member_content_activity">
            <h3>{% trans "Activity" %}</h3>
            {{ member.activity }}
        </div>
            
        <div class="member_content_thematic">
            <h3>{% trans "Thematic" %}</h3>
            {% for t in member.transverse_themes.all %}
                {{ t }} <br/>
            {% endfor %}
        </div>

        <div class="member_content_keywords">
            <h3 class="member_link">{% trans "Keywords" %}</h3>
        </div>
    </div>


</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('#member_description_full').addClass("detail_form_hide");
    });

    function read_more() {
        $('#member_description_short').addClass("detail_form_hide");
        $('#member_description_full').removeClass("detail_form_hide");
        $('#read_more').addClass("detail_form_hide");        
   }
</script>
