{% load i18n %}
{% load rights %}

{% if search_form %}

<script type="text/javascript">
    // We need to set a new class to content element, in order do properly display the form and the other elements
    $('#main-content').addClass("search_form_enabled_member");
</script>

<div id="members_top_search"></div>
<div id="search_form">
    {% include search_form_template %}
</div>
{% endif %}

<div id="members_top"></div>
<div id="members">

<div class="members_pagination_top pagination_top">
    <div class="pages">{% trans "Page:" %}</div>
<!--     <div class="carto"><a href="{{ base_url }}p/carto">{% trans "Cartography" %}</a></div> -->
    <div class="carto"><a href="javascript:submitForm('{{ base_url }}p/carto')">{% trans "Cartography" %}</a></div>
</div>

{% for m in members %}
    <div class="bloc_title">

        {% if m.logo != '' %}
            <div class="logo"><a class="member_link" href="{{ base_url }}p/{{ m.pk }}"><img src="{{ media_path }}{{ m.logo }}" alt=""></a></div>
        {% else %}
            <div class="logo logo_pes"></div>
        {% endif %}

        <div class="resume">
            {% if m.located == None %}{% else %} 
                <span class="location">
                {% for l in m.located.all %}
                    {{ l.location.city|truncatechars:20|safe }} ({{ l.location.zipcode }})
                {% endfor %}
                </span> 
            {% endif %}

            {% if direct_link %}
                <a href="{{ m.web|safe }}"><h3 class="member_title resume_title">{{ m.title }}</h3></a>
            {% else %}
                <a href="{{ base_url }}p/{{ m.pk }}"><h3 class="member_title resume_title">{{ m.title }}</h3></a>
            {% endif %}

            <div class="member_subtitle">{% if m.activity %} {{ m.activity }} {% endif %}</div>

            <span class="">{{ m.short_description }}</span>

            <span class="readmore"><a class="member_link" href="{{ base_url }}p/{{ m.pk }}">{% trans "Read more" %}</a></span>

            {% if request.user.is_superuser or m|tag_rights:request %}
                <span class="edit"><a class="" href="{{ base_url }}p/member_edit/{{ m.pk }}">{% trans "Edit" %}</a></span>
            {% endif %}

        </div>
    </div>

{% endfor %}

</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#id_location").autocomplete({
            source: {{ available_locations|safe }},
            select: function(e, ui) {
                e.preventDefault() // <--- Prevent the value from being inserted.
                $("#id_location_id").val(ui.item.value);

                $(this).val(ui.item.label);
            }
        });
    });

    function submitForm(url) {
        document.forms["search_form"].action = url;
        document.forms["search_form"].submit();
    }

</script>