{% load i18n %}


{% if search_form %}

<script type="text/javascript">
    // We need to set a new class to content element, in order do properly display the form and the other elements
    $('#main-content').addClass("search_form_enabled_member");
</script>

<div id="members_top_search"></div>
<div id="search_form">
    <form action="{{ base_url }}" method="post">{% csrf_token %}
        <div class="search_column" id="search_column1">
            <div class="search_block" id="looking_for">
                <span class="search_title">{% trans "Activity" %}</span>
                {{ form.activity }}
            </div>
            <div class="search_block" id="looking_for">
                {{ form.activity2 }}
            </div>
            <div class="search_block" id="free_search">
                <span class="search_title">{% trans "Free search" %}</span>
                {{ form.free_search }}
            </div>
        </div>
        <div class="search_column" id="search_column2">
            <div class="search_block" id="statut">
                <span class="search_title">{% trans "Statut" %}</span>
                {{ form.statut }}
            </div>
        </div>
        <div class="search_column" id="search_column3">
            <div class="search_block" id="location">
                <span class="search_title">{% trans "Location" %}</span>
                {{ form.location }}
            </div>
            <div class="search_block" id="location">
                <span class="search_title">{% trans "Location buffer" %}</span>
                {{ form.location_buffer }}
            </div>
        </div>
        <div class="search_column" id="search_column4">
            <div class="search_block" id="thematic">
                <span class="search_title">{% trans "Thematic" %}</span>
                {{ form.thematic }}
            </div>
            <div class="search_block" id="thematic">
                {{ form.thematic2 }}
            </div>
            <div class="search_block" id="thematic">
                {{ form.thematic3 }}
            </div>
        </div>

        <div id="search_bottom">
            <div class="search_block" id="search_submit">
                <input type="submit" value="{% trans "Search" %}" />
                <!--<div id="results_block"><span class="nb_results">{{ members.count }}</span> <span class="label_results">{% trans "Results" %}</span></div>-->
            </div>
        </div>
    </form>
</div>
{% endif %}

<div id="members_top"></div>
<div id="members">

<div class="members_pagination_top pagination_top">
    <div class="pages">{% trans "Page:" %}</div>
    <div class="carto"><a href="{{ base_url }}p/carto">{% trans "Cartography" %}</a></div>
</div>

{% for m in members %}
    <div class="bloc_title">
        <div class="logo"><img src="{{ media_path}}{{ m.logo }}" alt=""></div>
        <div class="resume">
            {% if m.located == None %}{% else %} 
                <span class="location">
                {% for l in m.located.all %}
                    {{ l.location.label|truncatechars:20|safe }}
                {% endfor %}
                </span> 
            {% endif %}

            {% if direct_link %}
                <a href="{{ m.web|safe }}"><h3 class="member_title resume_title">{{ m.title }}</h3></a>
            {% else %}
                <a href="{{ base_url }}p/{{ m.pk }}"><h3 class="member_title resume_title">{{ m.title }}</h3></a>
            {% endif %}

            <span class="member_subtitle">{{ m.activity }}</span>

            <span class="">{{ m.description|truncatewords_html:15|safe }}</span>

            <span class="readmore"><a class="member_link" href="{{ base_url }}p/{{ m.pk }}">{% trans "Read more" %}</a></span>
        </div>
    </div>

{% endfor %}

</div>

<script type="text/javascript">
    $(document).ready(function() {
        $( "#id_location" ).autocomplete({
            source: {{ available_locations|safe }}
        });
    });
</script>