{% load i18n %}

    {% if mode = 'carto' %}
        <form action="{{ base_url }}p/carto" method="post" id="search-form">{% csrf_token %}
    {% else %}
        <form action="{{ base_url }}" method="post" id="search-form">{% csrf_token %}
    {% endif %}
        
        <div class="search_column" id="search_column1">
            <div class="search_block" id="looking_for">
                <span class="search_title">{% trans "Activity" %}</span>
                {{ form.activity }}
            </div>
            <div class="search_block" id="looking_for2">
                {{ form.activity2 }}
            </div>
            <div class="search_block" id="free_search">
                <span class="search_title">{% trans "Free search" %}</span>
                {{ form.free_search }}
            </div>
        </div>
        <div class="search_column" id="search_column2">
            <div class="search_block" id="statut">
                <span class="search_title">{% trans "Statut" %}</span>
                {{ form.statut }}
            </div>
            <div class="search_block" id="statut2">
                {{ form.statut2 }}
            </div>
        </div>
        <div class="search_column" id="search_column3">
            <div class="search_block" id="location">
                <span class="search_title">{% trans "Location" %}</span>
                {{ form.location }}
                {{ form.location_id.as_hidden }}
            </div>
            <div class="search_block" id="location">
                <span class="search_title">{% trans "Location buffer" %}</span>
                {{ form.location_buffer }}
            </div>
        </div>
        <div class="search_column" id="search_column4">
            <div class="search_block" id="thematic">
                <span class="search_title">{% trans "Thematic" %}</span>
                {{ form.thematic }}
            </div>
            <div class="search_block" id="thematic2">
                {{ form.thematic2 }}
            </div>
        </div>

        <div id="search_bottom">
            <div class="search_block" id="search_submit">
                <input type="submit" value="{% trans "Search" %}" />
                <!--<div id="results_block"><span class="nb_results">{{ members.count }}</span> <span class="label_results">{% trans "Results" %}</span></div>-->
            </div>
        </div>
    </form>
