{% load i18n %}

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admintools_bootstrap/css/custom-theme/jquery-ui-1.8.16.custom.css" />

    {% if mode = 'carto' %}
        <form action="{{ base_url }}p/carto" method="get">{% csrf_token %}
    {% else %}
        <form action="{{ base_url }}" method="get">{% csrf_token %}
    {% endif %}
        <div class="search_column" id="search_column1">
            <div class="search_block" id="activity">
                <span class="search_title">{% trans "Activity" %}</span>
                {{ form.activity }}
            </div>
            <div class="search_block" id="activity2">
                {{ form.activity2 }}
            </div>
        </div>
        <div class="search_column" id="search_column2">
            <div class="search_block" id="thematic">
                <span class="search_title">{% trans "Thematic" %}</span>
                {{ form.thematic }}
            </div>
            <div class="search_block" id="thematic2">
                {{ form.thematic2 }}
            </div>
        </div>
        <div class="search_column" id="search_column3">
            <div class="search_block" id="free_search">
                <span class="search_title">{% trans "Free search" %}</span>
                {{ form.free_search }}
            </div>
            <div class="search_block" id="date_start">
                <span class="search_title">{% trans "Date start" %}</span>
                {{ form.date_start }}
            </div>
        </div>
        <div class="search_column" id="search_column4">
            <div class="search_block" id="location">
                <span class="search_title">{% trans "Location" %}</span>
                {{ form.location }}
                {{ form.location_id.as_hidden }}
            </div>
            <div class="search_block" id="location">
                <span class="search_title">{% trans "Location buffer" %}</span>
                {{ form.location_buffer }}
            </div>
        </div>
    
        <input type="hidden" name="more_criteria_status" id="more_criteria_status" value="">

        <div id="search_bottom">
            <div class="search_block" id="search_submit">
                <input type="submit" value="{% trans "Search" %}" />
                <div id="criteria_option">
                    <a href="javascript:more_criteria();" id="more_criteria" class="member_link">{% trans "Display more criteria" %}</a>
                    <a href="javascript:less_criteria(true);" id="less_criteria" class="member_link">{% trans "Display less criteria" %}</a>
                </div>
            </div>
        </div>
    </form>


<script type="text/javascript">
    $(document).ready(function() {

        $.datepicker.regional['fr'] = {
            closeText: 'Fermer',
            prevText: '&#x3c;Préc',
            nextText: 'Suiv&#x3e;',
            currentText: 'Courant',
            monthNames: ['Janvier','Février','Mars','Avril','Mai','Juin',
            'Juillet','Août','Septembre','Octobre','Novembre','Décembre'],
            monthNamesShort: ['Jan','Fév','Mar','Avr','Mai','Jun',
            'Jul','Aoû','Sep','Oct','Nov','Déc'],
            dayNames: ['Dimanche','Lundi','Mardi','Mercredi','Jeudi','Vendredi','Samedi'],
            dayNamesShort: ['Dim','Lun','Mar','Mer','Jeu','Ven','Sam'],
            dayNamesMin: ['Di','Lu','Ma','Me','Je','Ve','Sa'],
            weekHeader: 'Sm',
            dateFormat: 'dd/mm/yy',
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ''};
        $.datepicker.setDefaults($.datepicker.regional['fr']);

        $('#id_date_start').datepicker({dateFormat: 'yy-mm-dd', constrainInput: false, changeYear: true});

        {% if more_criteria %}
            more_criteria();
        {% else %}
            less_criteria(false);
        {% endif %}


    });


    function more_criteria() {
            $('#activity2').removeClass("search_form_hide");
            $('#thematic2').removeClass("search_form_hide");
            $('#date_start').removeClass("search_form_hide");

            $('#less_criteria').removeClass("search_form_hide");

            $('#more_criteria').addClass("search_form_hide");

            $('#more_criteria_status').val("True");

            $("#search_form").animate({
                height: '+=0px'
            }, 500);
            $("#column2").animate({
                'margin-top': '+=0px'
            }, 500);

    }
    function less_criteria(animate) {
            $('#activity2').addClass("search_form_hide");
            $('#thematic2').addClass("search_form_hide");
            $('#date_start').addClass("search_form_hide");

            $('#less_criteria').addClass("search_form_hide");

            $('#more_criteria').removeClass("search_form_hide");

            $('#more_criteria_status').val("False");

            if(animate) {
                $("#search_form").animate({
                    height: '-=0px'
                }, 500);
                $("#column2").animate({
                    'margin-top': '-=0px'
                }, 500);
            }
    }
</script>