#banner,
#menu-top,
#menu-search,
#ionyweb_admin,
#uvTab,
#links,
.gradient-header,
.gradient-footer,
#before-footer,
#read_more,
footer,
#column2 {
    display: none;
}

.body {
    margin: 0;
}

body {
 background: none;
 color: #000;
}

.wa_placeholder_widget,
.wa_placeholder_structure,
.wa_plugin_widget,
.edit_inline {
   display: none;    
}

.bloc_content_col1 {
   display: none;        
}

.header #column2 {
    display: block;
}

