{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content %}

<h1>{% trans "Organizations" %}</h1>
<table class="moderation">
    <tr>
        <th>{% trans "First name" %}</th>
        <th>{% trans "Last name" %}</th>
        <th>{% trans "Email" %}</th>
        <th>{% trans "Title" %}</th>
        <th>{% trans "Status" %}</th>
        <th>{% trans "Link to edit" %}</th>
    </tr>
{% for o in organizations %}
    <tr>
        <td>{{ o.first_name }}</td>
        <td>{{ o.last_name }}</td>
        <td>{{ o.email }}</td>
        <td>{{ o.title }}</td>
        <td>{{ o.status }}</td>
        <td><a href="{{ o.url }}">{% trans "See details" %}</a></td>
    </tr>
{% endfor %}
</table>

<h1>{% trans "Exchanges" %}</h1>
<table class="moderation">
    <tr>
        <th>{% trans "First name" %}</th>
        <th>{% trans "Last name" %}</th>
        <th>{% trans "Email" %}</th>
        <th>{% trans "Title" %}</th>
        <th>{% trans "Status" %}</th>
        <th>{% trans "Link to edit" %}</th>
    </tr>
{% for e in exchanges %}
    <tr>
        <td>{{ e.first_name }}</td>
        <td>{{ e.last_name }}</td>
        <td>{{ e.email }}</td>
        <td>{{ e.title }}</td>
        <td>{{ e.status }}</td>
        <td><a href="{{ e.url }}">{% trans "See details" %}</a></td>
    </tr>
{% endfor %}
</table>

<h1>{% trans "Events" %}</h1>
<table class="moderation">
    <tr>
        <th>{% trans "First name" %}</th>
        <th>{% trans "Last name" %}</th>
        <th>{% trans "Email" %}</th>
        <th>{% trans "Title" %}</th>
        <th>{% trans "Status" %}</th>
        <th>{% trans "Link to edit" %}</th>
    </tr>
{% for o in occ %}
    <tr>
        <td>{{ o.first_name }}</td>
        <td>{{ o.last_name }}</td>
        <td>{{ o.email }}</td>
        <td>{{ o.title }}</td>
        <td>{{ o.status }}</td>
        <td><a href="{{ o.url }}">{% trans "See details" %}</a></td>
    </tr>
{% endfor %}
</table>

<h1>{% trans "News" %}</h1>
<table class="moderation">
    <tr>
        <th>{% trans "First name" %}</th>
        <th>{% trans "Last name" %}</th>
        <th>{% trans "Email" %}</th>
        <th>{% trans "Title" %}</th>
        <th>{% trans "Status" %}</th>
        <th>{% trans "Link to edit" %}</th>
    </tr>
{% for e in entries %}
    <tr>
        <td>{{ e.first_name }}</td>
        <td>{{ e.last_name }}</td>
        <td>{{ e.email }}</td>
        <td>{{ e.title }}</td>
        <td>{{ e.status }}</td>
        <td><a href="{{ e.url }}">{% trans "See details" %}</a></td>
    </tr>
{% endfor %}
</table>

<h1>{% trans "Projects" %}</h1>
<table class="moderation">
    <tr>
        <th>{% trans "First name" %}</th>
        <th>{% trans "Last name" %}</th>
        <th>{% trans "Email" %}</th>
        <th>{% trans "Title" %}</th>
        <th>{% trans "Status" %}</th>
        <th>{% trans "Link to edit" %}</th>
    </tr>
{% for p in projects %}
    <tr>
        <td>{{ p.first_name }}</td>
        <td>{{ p.last_name }}</td>
        <td>{{ p.email }}</td>
        <td>{{ p.title }}</td>
        <td>{{ p.status }}</td>
        <td><a href="{{ p.url }}">{% trans "See details" %}</a></td>
    </tr>
{% endfor %}
</table>


{% endblock %}


