{% extends "themes/pes_auvergne/default/index.html" %}

{% load ionyweb_tags %}


{% block content %}

  <div id="main-content" class="content-index content-projects content-coop-app">
    <section id="content" class="body">
        {% block page %}{% render_page %}{% endblock %}
            <div id="column2">
                <div class="" id="projects_text">
                    {% render_layout 'projects_text' %}
                </div>
                <div class="" id="projects_links">
                    {% render_layout 'projects_icons' %}
                </div>
                <div class="column-widget" id="project_participate">
                    {% render_layout 'participate' %}
                </div>
                <div class="column-widget" id="project_discover">
                    {% render_layout 'discover' %}
                </div>
                <div class="column-widget" id="promote">
                    {% render_layout 'promote' %}
                </div>
            </div>
        </div> <!-- end row -->
    </section>
 </div>
  
{% endblock %}