{% extends "themes/html5.html" %}
{% load ionyweb_tags %}

{% block theme-design-css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}themes/pes_auvergne/default/css/main.css" type="text/css" />
        <!--[if lte IE 7]>
                <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}themes/{{ theme_path }}/default/css/ie.css"/><![endif]-->

        <!--[if lt IE 7]>
                <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}themes/{{ theme_path }}/default/css/ie6.css"/><![endif]-->
{% endblock %}

{% block body-tag %}
  <body id="index" class="index">
{% endblock %}

{% block header %}
  <div class="gradient-header"></div>
  <div id="menu-top">
    {% render_layout "menu-top" %}
  </div>
  <header id="banner" class="body">
	{% render_layout "header2" %}
    <a href="/"><div class="site_logo"></div></a>
    <nav class="index">
	  {% render_navigation %}
	</nav>
  </header><!-- /#banner -->
{% endblock %}

{% block navigation %}{% endblock %}

{% block content %}

 <div id="main-content" class="content-index">
    <section id="content" class="body">
        <div id="column1_top" class="standard"></div>
        <div id="column1" class="standard">{% block page %}{% render_page %}{% endblock %}</div>

        <div id="column2">
            <div class="" id="block_text">
                {% render_layout 'block_text' %}
            </div>
            <div class="" id="block_icons">
                {% render_layout 'block_icons' %}
            </div>
            <div class="column-widget" id="participate">
                {% render_layout 'participate' %}
            </div>
            <div class="column-widget" id="discover">
                {% render_layout 'discover' %}
            </div>
        </div>
    </section>
 </div>
  
{% endblock %}
  
{% block footer %}
    <div class="body" id="before-footer">
        {% render_layout 'logos' %}
    </div>
  <div class="gradient-footer"></div>
  <footer id="contentinfo" class="gradient-bg-footer">
      <div id="footer-column1">{% render_layout "footer" %}</div>
  </footer>
{% endblock %}

