{% extends "themes/pes_auvergne/default/index.html" %}

{% load ionyweb_tags %}


{% block content %}

  <div id="main-content" class="content-index content-coop_exchange content-coop-app">
    <section id="content" class="body">
        <div id="column1">{% block page %}{% render_page %}{% endblock %}</div>
        <div id="column2">
            <div class="" id="exchanges_text">
                {% render_layout 'exchange_text' %}
            </div>
            <div class="" id="exchanges_links">
                {% render_layout 'exchange_icons' %}
            </div>
            <div class="column-widget" id="exchanges_participate">
                {% render_layout 'participate' %}
            </div>
            <div class="column-widget" id="exchanges_discover">
                {% render_layout 'discover' %}
            </div>
        </div>
    </section>
 </div>
  
{% endblock %}
  
