{% extends "themes/pes_auvergne/default/index.html" %}

{% load ionyweb_tags %}


{% block content %}

  <div id="main-content" class="content-index content-thematics content-coop-app">
    <section id="content" class="body">
        <div id="column1">{% block page %}{% render_page %}{% endblock %}</div>

        <div id="column2">
            <div class="" id="thematics_text">
                {% render_layout 'thematics_text' %}
            </div>
            <div class="" id="thematics_links">
                {% render_layout 'thematics_icons' %}
            </div>
            <div class="column-widget" id="thematic_participate">
                {% render_layout 'participate' %}
            </div>
            <div class="column-widget" id="thematic_discover">
                {% render_layout 'discover' %}
            </div>
        </div>
    </section>
 </div>
  
{% endblock %}