{% extends "themes/pes_auvergne/default/index.html" %}

{% load ionyweb_tags %}


{% block content %}

  <div id="main-content" class="content-index content-services content-coop-app">
    <section id="content" class="body">
        <div id="column1">{% block page %}{% render_page %}{% endblock %}</div>

        <div id="column2">
            <div class="" id="services_text">
                {% render_layout 'services_text' %}
            </div>
            <div class="" id="services_links">
                {% render_layout 'services_icons' %}
            </div>
            <div class="column-widget" id="service_participate">
                {% render_layout 'participate' %}
            </div>
            <div class="column-widget" id="service_discover">
                {% render_layout 'discover' %}
            </div>
            <div class="column-widget" id="promote">
                {% render_layout 'promote' %}
            </div>
        </div>
    </section>
 </div>
  
{% endblock %}