{% load i18n %}
{% load comments %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}themes/pes_auvergne/default/js/leaflet/leaflet.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}admintools_bootstrap/css/custom-theme/jquery-ui-1.8.16.custom.css" />

{% if print_css == 1 %}
    <link rel="stylesheet" href="{{ STATIC_URL }}themes/pes_auvergne/default/css/print.css" />
{% endif %}

    <script type="text/javascript" src="{{ STATIC_URL }}themes/pes_auvergne/default/js/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}themes/pes_auvergne/default/js/forms_utils.js"></script>

    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}themes/pes_auvergne/default/js/helper-plugins/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}themes/pes_auvergne/default/js/helper-plugins/jquery.touchSwipe.min.js"></script>
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}themes/pes_auvergne/default/js/helper-plugins/jquery.transit.min.js"></script>
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}themes/pes_auvergne/default/js/helper-plugins/jquery.ba-throttle-debounce.min.js"></script>

{% endblock %}


<div id="exchanges_top"></div>
<div id="coop_exchange" class="coop_exchange">
    <div class="bloc_title">
        {% if e.img != '' %}
            <div class="logo"><img src="{{ media_path }}{{ e.img }}" alt="{{ e.title }}"></div>
        {% else %}
            <div class="logo logo_pes"></div>
        {% endif %}

        <div class="header">
            <h3 class="exchange_title">{{ e.title }}</h3>
            <br/>
            <span class="exchange_date">{%  trans "Date start" %} : {{ e.created }}</span><br/>
            {% if e.expiration %}
                <span class="exchange_dateexp">{%  trans "Date end" %} : {{ e.expiration }}</span><br/>
            {% endif %}

            <h3 class="exchange_title">{% trans "Posted by" %} :</h3>
            <br/>
            <a href="/annuaire/p/{{ e.organization.pk }}"  class="exchange_link">{% trans "Contact organization" %}</a>

        </div>

        <div class="map">
            <div id="leaflet_map"></div>
                <script src="{{ STATIC_URL }}themes/pes_auvergne/default/js/leaflet/leaflet.js"></script>
                <script type="text/javascript">

                    var cloudmadeUrl = 'http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/997/256/{z}/{x}/{y}.png',
                        cloudmadeAttribution = '&copy; 2011 OSM - CloudMade',
                        cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 18, attribution: cloudmadeAttribution});

                    var map = new L.Map('leaflet_map');

                    {% if e.location.point %}
                        var centre = new L.LatLng({{ e.location.point.y|safe }}, {{ e.location.point.x|safe }});
                        L.marker([{{ e.location.point.y|safe }}, {{ e.location.point.x|safe }}]).addTo(map)
                                .bindPopup('{{ e.title|safe }}')
                                .openPopup();
                    {% else %}
                        var centre = new L.LatLng({{ default_center.y|safe }}, {{ default_center.x|safe }});
                    {% endif %}
                    map.setView(centre, 8).addLayer(cloudmade);

                </script>
            </div>            

        </div>


    <div class="bloc_content">
        <div class="exchange_content_infos">
            <div class="column1">
                <h3>{{ e.get_eway_display }}</h3>

                {% if e.etype %}
                    <h3>{% trans "Type" %}:</h3>
                    {{ e.get_etype_display }}
                {% endif %}

                {% if e.methods.all %}
                    <h3>{% trans "Modalities" %}:</h3>
                    {% for m in e.methods.all %}                
                        {{ m }}<br/>
                    {% endfor %}
                {% endif %}
                
                <h3><a href="{{ base_url }}exchange_reply/{{ e.pk }}" class="exchange_link">{% trans "Answer exchange" %}</a></h3>
            </div>
            <div class="column2">
                <div id="links">
                    <a class="facebook" target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=#{{ request.build_absolute_uri }}"></a>
                    <a class="twitter" href="https://twitter.com/share?url={{ request.build_absolute_uri }}" target="_blank"></a>
                    <a class="google_plus"  target="_blank" href="https://plus.google.com/share?url={{ request.build_absolute_uri }}"></a>
                    <a class="links" href="javascript:open_popup_link('#dialog-link');"></a>
                    <div id="dialog-link" title="{% trans 'Send to friend' %}">
                        <input type="text" id="mail_to_friend" value="">
                        <input type="button" onclick="javascript:send_to_friend('{{ request.build_absolute_uri }}','mail_to_friend','send_to_content');" value="{% trans 'Send' %}">
                        <div id="send_to_content" class="highlight_gen"></div>
                    </div>
                    <a class="print" target="_blank" href="{{ base_url }}{{ e.pk }}?mode=print"></a>
                </div>

                <h3>{% trans "Contact" %}</h3>

                {% for c in e.contacts.all %}                
                    {{ c }}<br/>
                {% endfor %}

                {% if e.phone %}
                    {{ e.phone }}<br/>
                {% endif %}


                {% if e.location %}
                    {% if e.location.adr1 %}
                        {{ e.location.adr1 }}<br/>
                    {% endif %}
                    {% if e.location.adr2 %}
                        {{ e.location.adr2 }}<br/>
                    {% endif %}
                    {% if e.location.zipcode %}
                        {{ e.location.zipcode }}<br/>
                    {% endif %}
                    {% if e.location.city %}
                        {{ e.location.city }}<br/>
                    {% endif %}
                {% endif %}


                {% if docs %}
                    <a href="javascript:download_docs()" class="exchange_link">{% trans "Downloadable docs" %}</a>
                {% endif %}

                <div id="dialog-docs" title="{% trans "Documents" %}">
                    <ul>
                    {% for d in docs %}
                        <li><a href="{{ media_path }}{{ d.attachment }}" alt='{{ d.name }}'>{{ d.name }}</a></li>
                    {% endfor %}
                    </ul>
                </div>


            </div>

        </div>
        <div class="exchange_complement">

            <h3>{% trans "Presentation" %}</h3>
            <div class="exchange_desc" id="animate_desc" >
                <div id="description_short">{{ e.description|safe|truncatewords_html:90 }}</div>
                <div id="description_full">
                        {{ e.description|safe }}
                </div>
            </div>
            <span class="readmore"><a class="exchange_link" href="javascript:read_more();" id="read_more">{% trans "Read more" %}</a></span>
        </div>
    </div>
    
    {% if imgs %}
        <div class="bloc_content bloc_content_border">
            <h3>{% trans "Galery" %}</h3>

                <div class="list_carousel">
                    <ul id="carousel">
                        {% for d in imgs %}
                            <li>
                                <a href="{{ media_path }}{{ d.attachment }}"><img src="{{ media_path }}{{ d.attachment }}" alt='{{ d.name }}' height="100px" /></a>
                            </li>
                        {% endfor %}

                    </ul>
                    <div class="clearfix"></div>
                    <a id="prev2" class="prev" href="#"></a>
                    <a id="next2" class="next" href="#"></a>
                    <div id="pager2" class="pager"></div>
                </div>

        </div>
    {% endif %}
    


    <div class="bloc_content bloc_content_borderless">
        {% if e.activity %}
            <div class="exchange_content_infos exchange_content_activity">
                <h3>{% trans "Activity" %}</h3>
                {{ e.activity }}
            </div>
        {% endif %}
            
        {% if e.tags.all %}
            <div class="exchange_content_infos exchange_content_thematic">
                <h3>{% trans "Thematic" %}</h3>
                {% for t in e.transverse_themes.all %}
                    {{ t }} <br/>
                {% endfor %}
            </div>
        {% endif %}

        {% if e.tags.all %}
            <div class="exchange_content_infos exchange_content_keywords">
                <h3 class="exchange_link">{% trans "Keywords" %}<a href="javascript:keywords_show_complement()" class="exchange_link">+</a></h3>
                <div id="keywords_short">{{ e.tags.all|join:", "|truncatechars:100 }}</div>
                <div id="keywords_long">{{ e.tags.all|join:", " }}</div>
            </div>

        {% endif %}

        {% if e.solidarity %}
            <div class="exchange_content_infos exchange_content_solidarity">
                <h3 class="exchange_link">{% trans "Solidarity" %}</h3>
            </div>
        {% endif %}


        <div class="exchange_content_infos">
            {% comment %}
                {% include "related_events.html" %}
            {% endcomment %}

            {% include "comments/comments.html" with object=e %}
        </div>
    </div>


    {% if request.user.is_superuser %}
        <span class="edit edit_inline"><a class="" href="{{ base_url }}exchange_edit/{{ e.pk }}">{% trans "Edit" %}</a></span>
    {% endif %}

</div>



<script type="text/javascript">
    $(document).ready(function() {
        hide_complement();
        keywords_hide_complement();
        $('#description_full').addClass("detail_form_hide");

        $('#carousel').carouFredSel({
            items: 2,
            auto: false,
            prev: '#prev2',
            next: '#next2',
            pagination: "#pager2",
            mousewheel: true,
            swipe: {
                onMouse: true,
                onTouch: true
            }
        });

        $('#carousel a').fancybox({ 'hideOnContentClick': false,'zoomSpeedIn': 300, 'zoomSpeedOut': 300, 'overlayShow': true });

        // Check if we have to hide read more or not
        if($('#description_short') && $('#description_full')) {
            if($.trim($('#description_short').text()) == $.trim($('#description_full').text())) {
                $('#read_more').addClass("detail_form_hide");  
            }
        }
    });

    function keywords_hide_complement() {
        $('#keywords_long').addClass("detail_form_hide");
        $('#dialog-link').addClass("detail_form_hide");
    }

    function keywords_show_complement() {
        $('#keywords_long').removeClass("detail_form_hide");
        $('#keywords_short').addClass("detail_form_hide");
    }

    function hide_complement() {
        $('#dialog-docs').addClass("detail_form_hide");
    }
    function read_more() {
        $('#description_full').removeClass("detail_form_hide");
        $('#description_short').addClass("detail_form_hide");
        $('#read_more').addClass("detail_form_hide");        
   }

   function download_docs() {
    $(function() {
        $( "#dialog-docs" ).dialog({
            height: 140,
            modal: true
        });
    });
   }

</script>