{% load i18n %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}themes/pes_auvergne/default/js/leaflet/leaflet.css" />
{% endblock %}


<div id="exchanges_top"></div>
<div id="coop_exchange" class="coop_exchange">
    <div class="bloc_title">
        {% if e.img != '' %}
            <div class="logo"><img src="{{ media_path }}{{ e.img }}" alt="{{ e.title }}"></div>
        {% else %}
            <div class="logo logo_pes"></div>
        {% endif %}

        <div class="header">
            <h3 class="exchange_title">{{ e.title }}</h3>
            <span class="exchange_date">{{ e.created }}</span><br/>
            <span class="exchange_dateexp">{{ e.expiration }}</span>

            <h3 class="exchange_title">{% trans "Posted by" %}</h3>
            <a href="/annuaire/p/{{ e.organization.pk }}"  class="exchange_link">{% trans "Contact organization" %}</a>

        </div>

        <div class="map">
            <div id="leaflet_map"></div>
                <script src="{{ STATIC_URL }}themes/pes_auvergne/default/js/leaflet/leaflet.js"></script>
                <script type="text/javascript">

                    var cloudmadeUrl = 'http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/997/256/{z}/{x}/{y}.png',
                        cloudmadeAttribution = '&copy; 2011 OSM - CloudMade',
                        cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 18, attribution: cloudmadeAttribution});

                    var map = new L.Map('leaflet_map');


                    var centre = new L.LatLng({{ e.location.point.y|safe }}, {{ e.location.point.x|safe }});
                    L.marker([{{ e.location.point.y|safe }}, {{ e.location.point.x|safe }}]).addTo(map)
                            .bindPopup('{{ e.title|safe }}')
                            .openPopup();
                    
                    map.setView(centre, 8).addLayer(cloudmade);

                </script>
            </div>            

        </div>


    <div class="bloc_content">
        <div class="exchange_content_infos">
            <div class="column1">
                <h3>{{ e.get_eway_display }}</h3>

                <h3>{% trans "Type" %}:</h3>
                {{ e.type }}

                <h3>{% trans "Modalities" %}:</h3>
                {% for m in e.methods.all %}                
                    {{ m }}<br/>
                {% endfor %}
                
                <h3><a href="{{ base_url }}exchange_reply/{{ e.pk }}" class="exchange_link">{% trans "Answer exchange" %}</a></h3>
            </div>
            <div class="column2">
                <div id="links">
                    <a class="facebook" href=""></a>
                    <a class="twitter" href=""></a>
                    <a class="google_plus" href=""></a>
                    <a class="plus" href=""></a>
                    <a class="links" href=""></a>
                    <a class="print" href=""></a>
                </div>

                <h3>{% trans "Contact" %}</h3>

                {% for c in e.contacts.all %}                
                    {{ c }}<br/>
                {% endfor %}

                {% if docs %}
                    <a href="javascript:download_docs()" class="exchange_link">{% trans "Downloadable docs" %}</a>
                {% endif %}

                <div id="dialog-docs" title="{% trans "Documents" %}">
                    <ul>
                    {% for d in docs %}
                        <li><a href="{{ media_path }}{{ d.attachment }}" alt='{{ d.name }}'>{{ d.name }}</a></li>
                    {% endfor %}
                    </ul>
                </div>


            </div>

        </div>
        <div class="exchange_complement">
                <h3>{% trans "Presentation" %}</h3>
                <div class="exchange_desc">
                    <p>{{ e.description|safe }}</p>
                    <span class="readmore"><a class="exchange_link" href="{{ e.web|safe }}">{% trans "Read more" %}</a></span>
                </div>
        </div>
    </div>
    

    {% if imgs %}
        <div class="bloc_content bloc_content_border">
            <h3>{% trans "Galery" %}</h3>
            
            {% for d in imgs %}
                <div class="fake_img">
                    <img src="{{ media_path }}{{ d.attachment }}" alt='{{ d.name }}' />
                </div>
            {% endfor %}
        </div>
    {% endif %}

    

    <div class="bloc_content">
        <div class="exchange_content_infos exchange_content_activity">
            <h3>{% trans "Activity" %}</h3>
            {{ e.activity }}
        </div>
            
        <div class="exchange_content_infos exchange_content_thematic">
            <h3>{% trans "Thematic" %}</h3>
            {% for t in e.transverse_themes.all %}
                {{ t }} <br/>
            {% endfor %}
        </div>

        <div class="exchange_content_infos exchange_content_keywords">
            <h3 class="exchange_link">{% trans "Keywords" %}</h3>
            {{ e.tags.all|join:", " }}
        </div>


        <div class="exchange_content_infos exchange_content_solidarity">
            <h3 class="exchange_link">{% trans "Solidarity" %}</h3>
        </div>
    </div>


    {% if request.user.is_superuser %}
        <span class="edit edit_inline"><a class="" href="{{ base_url }}exchange_edit/{{ e.pk }}">{% trans "Edit" %}</a></span>
    {% endif %}

</div>



<script type="text/javascript">
    $(document).ready(function() {
        hide_complement();
    });

    function hide_complement() {
        $('#dialog-docs').addClass("detail_form_hide");
    }

   function download_docs() {
    $(function() {
        $( "#dialog-docs" ).dialog({
            height: 140,
            modal: true
        });
    });
   }

</script>