{% load i18n %}


    {% if mode = 'carto' %}
        <form action="{{ base_url }}p/carto" method="get" id="search-form">{% csrf_token %}
    {% else %}
        <form action="{{ base_url }}" method="get" id="search-form">{% csrf_token %}
    {% endif %}
    
        <div class="search_column search_column-double" id="search_column1">
            <div class="search_block checkbox_custom" id="looking_for">
                <span class="search_title">{% trans "I'm looking for" %}</span>
                {{ form.type_exchange }}
            </div>
            <div class="search_block checkbox_custom" id="type">
                <span class="search_title">{% trans "Type" %}</span>
                {{ form.type }}
            </div>
            <div class="search_block" id="free_search1">
                <span class="search_title">{% trans "Free search" %}</span>
                {{ form.free_search }}
            </div>
        </div>
        <div class="search_column" id="search_column2">
            <div class="search_block" id="activity">
                <span class="search_title">{% trans "Activity" %}</span>
                {{ form.activity }}
            </div>
            <div class="search_block" id="activity2">
                {{ form.activity2 }}
            </div>
            <div class="search_block" id="thematic">
                <span class="search_title">{% trans "Thematic" %}</span>
                {{ form.thematic }}
            </div>
            <div class="search_block" id="thematic2">
                {{ form.thematic2 }}
            </div>

            <div class="search_block" id="free_search2">
                <span class="search_title">{% trans "Free search" %}</span>
                {{ form.free_search }}
            </div>
        </div>
        <div class="search_column" id="search_column3">
            <div class="search_block" id="location">
                <span class="search_title">{% trans "Location" %}</span>
                {{ form.location }}
                {{ form.location_id.as_hidden }}
            </div>
            <div class="search_block" id="location_buffer">
                <span class="search_title">{% trans "Location buffer" %}</span>
                {{ form.location_buffer }}
            </div>

        </div>
        <div class="search_column search_column-double" id="search_column4">
            <div class="search_block checkbox_custom" id="mode">
                <span class="search_title">{% trans "Exchange mode" %}</span>
                {{ form.method }}
            </div>

            <div class="search_block checkbox_custom" id="skills">
                <span class="search_title">{% trans "If skills" %}</span>
                {{ form.skills }}
            </div>
        </div>

        <input type="hidden" name="more_criteria_status" id="more_criteria_status" value="">

        <div class="search_block" id="search_submit">
            <input type="submit" value="{% trans "Search" %}" />
            <div id="criteria_option">
                <a href="javascript:more_criteria();" id="more_criteria" class="exchange_link">{% trans "Display more criteria" %}</a>
                <a href="javascript:less_criteria(true);" id="less_criteria" class="exchange_link">{% trans "Display less criteria" %}</a>
            </div>
        </div>
    </form>


<script type="text/javascript">
    $(document).ready(function() {

        {% if more_criteria %}
            more_criteria();
        {% else %}
            less_criteria(false);
        {% endif %}

    });

    function more_criteria() {
            $('#activity2').removeClass("search_form_hide");
            $('#free_search1').removeClass("search_form_hide");
            $('#thematic').removeClass("search_form_hide");
            $('#thematic2').removeClass("search_form_hide");
            $('#mode').removeClass("search_form_hide");
            $('#skills').removeClass("search_form_hide");
            $('#less_criteria').removeClass("search_form_hide");

            $('#free_search2').addClass("search_form_hide");
            $('#more_criteria').addClass("search_form_hide");

            $('#more_criteria_status').val("True");
    }
    function less_criteria(animate) {
            $('#activity2').addClass("search_form_hide");
            $('#free_search1').addClass("search_form_hide");
            $('#thematic').addClass("search_form_hide");
            $('#thematic2').addClass("search_form_hide");
            $('#mode').addClass("search_form_hide");
            $('#skills').addClass("search_form_hide");
            $('#less_criteria').addClass("search_form_hide");

            $('#free_search2').removeClass("search_form_hide");
            $('#more_criteria').removeClass("search_form_hide");

            $('#more_criteria_status').val("False");
    }
</script>