{% load i18n %}

    <form action="{{ base_url }}" method="get">{% csrf_token %}
        <div class="search_column" id="search_column1">
            <div class="search_block" id="activity">
                <span class="search_title">{% trans "Activity" %}</span>
                {{ form.activity }}
            </div>
            <div class="search_block" id="activity2">
                {{ form.activity2 }}
            </div>

        </div>
        <div class="search_column" id="search_column2">
            <div class="search_block checkbox_custom" id="mode">
                <span class="search_title">{% trans "Exchange mode" %}</span>
                {{ form.mode }}
            </div>

        </div>
        <div class="search_column" id="search_column3">
            <div class="search_block" id="location">
                <span class="search_title">{% trans "Location" %}</span>
                {{ form.location }}
                {{ form.location_id.as_hidden }}
            </div>
            <div class="search_block" id="location_buffer">
                <span class="search_title">{% trans "Location buffer" %}</span>
                {{ form.location_buffer }}
            </div>
        </div>
        <div class="search_column" id="search_column4">
            <div class="search_block" id="thematic">
                <span class="search_title">{% trans "Thematic" %}</span>
                {{ form.thematic }}
            </div>
            <div class="search_block" id="thematic2">
                {{ form.thematic2 }}
            </div>

            <div class="search_block" id="free_search1">
                <span class="search_title">{% trans "Free search" %}</span>
                {{ form.free_search }}
            </div>
<!--            <div class="search_block" id="warranty">
                <span class="search_title">{% trans "Warranty" %}</span>
                {{ form.warranty }}
            </div>
            <div class="search_block" id="organization">
                <span class="search_title">{% trans "Organization" %}</span>
                {{ form.organization }}
            </div>-->
        </div>

        <div class="search_block" id="search_submit">
            <input type="submit" value="{% trans "Search" %}" />                
            <div id="criteria_option">
                <a href="javascript:more_criteria();" id="more_criteria" class="exchange_link">{% trans "Display more criteria" %}</a>
                <a href="javascript:less_criteria(true);" id="less_criteria" class="exchange_link">{% trans "Display less criteria" %}</a>
            </div>
        </div>

    </form>


<script type="text/javascript">
    $(document).ready(function() {
        {% if mode_criteria == False %}
            less_criteria(false);
        {% endif %}
    });

    function more_criteria() {
            $('#activity2').removeClass("search_form_hide");
            $('#thematic').removeClass("search_form_hide");
            $('#thematic2').removeClass("search_form_hide");

            $('#less_criteria').removeClass("search_form_hide");

            $('#more_criteria').addClass("search_form_hide");

            $("#search_form").animate({
                height: '+=40px'
            }, 500);
            $("#column2").animate({
                'margin-top': '+=40px'
            }, 500);

    }
    function less_criteria(animate) {
            $('#activity2').addClass("search_form_hide");
            $('#thematic').addClass("search_form_hide");
            $('#thematic2').addClass("search_form_hide");

            $('#less_criteria').addClass("search_form_hide");

            $('#more_criteria').removeClass("search_form_hide");

            if(animate) {
                $("#search_form").animate({
                    height: '-=40px'
                }, 500);
                $("#column2").animate({
                    'margin-top': '-=40px'
                }, 500);
            }
    }
</script>